# Arduino / PlatformIO build artifacts
build/
.build/
*.hex
*.elf
*.bin
*.o
*.d
*.a

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino IDE
*.zip

# Editor / OS
.vscode/
.idea/
*.swp
*~
Thumbs.db
Desktop.ini
.DS_Store
